html, body {
    height: 100%;
}


h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

p {
    text-align:center;
}

article {
    text-align: justify;
}

.container {
    width: 960px;
    margin: 0 auto;
}
.imagen {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: block;
    background-color: #286af0;
    padding: 5px 0px;
    height: 50px;
  
}

section {
    background-color: #ccc;
    overflow: auto;
    float: right;
    padding: 10px;
    width: 790px;
    height: 500px;
}

aside {
    float: left;
    width: 130px;
    background-color: gray;
    padding: 10px;
    height: 500px;
}

footer {
    position: relative;
    background-color: #286af0;
    clear: both;
    text-align: center;
}
